header {
  background-color: #1abc9c;
  max-width: 100%;
  padding: 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center ;
}
header .container .menu {
  display: inline-flex;
}
header .container .menu li {
  margin: 0 40px;
  font-weight: bold;
}
header .container .menu li a {
  text-decoration: none;
  color: #03081d;
}
header .container .menu li a:hover {
  background-color: #456354;
}
